<carousel>
  <slide class="slider1">
    <div class="carousel-caption">
      <h3>{{about}}</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide class="slider2">
    <div class="carousel-caption">
      <h3>{{projects}}</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide class="slider3">
    <div class="carousel-caption">
      <h3>{{contacts}}</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
</carousel>

