@import url(http://fonts.googleapis.com/css?family=Lato:100);

#nav{
  margin: 1.5% 11%;
}
ul{
  text-align: center;
  word-spacing: -0.2em;
  background-image: -moz-linear-gradient(top,#93cec9,#d3f8f4);
  border-radius: 120px;
  -moz-box-sizing: border-box;
  padding-right: 0px;
  padding-left: 0px;
}
ul li{
  display: inline-block;
  background:transparent;
  -moz-transition: all .5s;
  padding: 20px 36px;
}

ul li:hover{
  background-color: #070421;
  box-shadow: inset 0px 0px 2px 2px #327670;
  color: #FFF;
}
a{
  text-decoration: none;
  font-size: 2em;
  color: #119da3;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
a:hover{
  color: #FFF;

}
